@model TheMoviePlace.Models.ContactInformations

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contact Information</h1>

</div>
<div class="test">
    <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
            <div class="col-sm-10">
                <form id="main-contact-form" name="contact-form" method="post" action="#">
                    <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="contact-name" class="col-sm-2 control-label">First Name</label>
                                <input id="firstName" type="text" name="firstName" class="form-control" placeholder="First Name" required="required">
                            </div>
                            <div class="form-group">
                                <label for="contact-name" class="col-sm-2 control-label">Last Name</label>
                                <input id="lastName" name="lastName" class="form-control" placeholder="Last Name" required="required">
                            </div>
                            <div class="form-group">
                                <label for="contact-name" class="col-sm-2 control-label">Email</label>
                                <input id="eMail" type="email" name="email" class="form-control" placeholder="Email Address" required="required">
                            </div>
                            <div class="form-group">
                                <label for="contact-name" class="col-sm-2 control-label">Address</label>
                                <input id="address" type="text" name="Address" class="form-control" placeholder="Address" required="required">
                            </div>
                            <div class="form-group">
                                <label for="contact-name" class="col-sm-2 control-label">Phone Number</label>
                                <input id="phoneNumber" type="text" name="PhoneNumber" class="form-control" placeholder="Phone Number" required="required">
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <button onclick="myClickEvent()" type="button" class="btn-submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">contact Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                       First Name: @Model.firstName
                    </tr>
                    <tr>
                        Last Name: @Model.lastName
                    </tr>
                    <tr>
                        EMail: @Model.Email
                    </tr>
                    <tr>
                        Address: @Model.Address
                    </tr>
                    <tr>
                        PhoneNumber: @Model.PhoneNumber
                    </tr>                 
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>